<div class="title">sɐǝpl</div>
<div class="circle ideas">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody>
      <% @ideas.each do |idea| %>
        <tr data-id="idea_<%= idea.id %>">
          <td><%= idea.title %></td>
          <td><%= idea.body %></td>
          <td><%= idea.quality %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- <div class="ideas">

</div> -->
